* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar.navbar-inverse {
    border: none;
}

.navbar .navbar-brand {
    padding-top: 0px;
}

.navbar .navbar-brand img {
    height: 50px;
}

.navbar-toggler {
    outline: none !important;
    border: none !important;
}

.fa-twitter {
    display: none;
}

.fa-twitter:hover {
    display: block;
}

.navbar-light .navbar-brand {
    color: #007bff !important;
    font-weight: 600 !important;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    font-weight: 600 !important;
    color: #0069d9 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #007bff !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #0069d9 !important;
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, .3)
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #0069d9 !important;
}

.navbar-light .navbar-toggler {
    color: #0069d9 !important;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.testimonial-box p {
    padding: 0 15px;
}

#mainNav {
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
    transition: background-color 0.2s ease;
}

.home-social-icons .fa:hover {
    cursor: pointer;
}

ul li {
    margin-right: 18px !important;
}

ul li a {
    font-weight: 600 !important;
    font-size: 18px !important;
}

p {
    font-weight: 600 !important;
}

label {
    font-weight: 650 !important;
}

ul li {
    display: flex !important;
    align-items: baseline !important;
}

.title {
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
}

.title::after {
    content: '';
    width: 80px;
    height: 10px;
    position: absolute;
    border-bottom: 3px solid #007bff;
    left: 0;
    bottom: 0;
    transform: scaleY(0);
}

.title1 {
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
}

.title1::after {
    content: '';
    width: 80px;
    height: 10px;
    position: absolute;
    border-bottom: 3px solid #007bff;
    left: calc(50%);
    bottom: 0;
}

.project-btn button {
    outline: none !important;
    border: none !important;
    background: #fff !important;
    color: #212121 !important;
    font-weight: 600 !important;

}

.project-btn button:hover {
    outline: none !important;
    border: none !important;
    background: #fff !important;
    color: #007bff !important;
    font-weight: 600 !important;

}

.services {
    padding: 10px 40px;
}

.service-box {
    padding: 10px 0;
    box-shadow: 3px 3px 5px #cccccc,
        -3px -3px 5px #ffffff;
    transition: transform 0.5s;
    border-radius: 15px;
}

.service-box:hover {
    background: #007bff;
    color: #ffffff;
    transform: translateY(10px);
    cursor: pointer;
}

.creative-design {
    margin-top: 70px;
    margin-bottom: 70px;

}

.skills {
    margin-top: 70px;
    margin-bottom: 70px;

}

.skill-box {
    height: 20vh;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px #cccccc,
        -3px -3px 5px #ffffff;
    transition: transform 0.5s;
    border-radius: 15px;
}

.skill-box:hover {
    background: #007bff;
    color: #ffffff;
    transform: translateY(10px);
    cursor: pointer;
}

.projects {
    margin-top: 70px;
    margin-bottom: 70px;

}

.blog {
    margin-top: 70px;
    margin-bottom: 70px;

}

.blog-area {
    border: 1px solid #e9ecef;
    max-height: 70vh;
    overflow: hidden;
}

.clients {
    margin: 70px auto;
    padding: 50px 0;
    background-color: #212121;
}

.contact {
    padding: 70px 0;
    margin: 70px auto;
    background: #fafafa;
}

.project-btn button {
    margin-bottom: 10px;
}

.testimonial-box {
    margin-bottom: 15px;
    box-shadow: 3px 3px 5px #cccccc,
        -3px -3px 5px #ffffff;
    transition: transform 0.5s;
    border-radius: 10px;
    padding: 10px 20px;
    min-height: 50vh;
}

.fa .fa-quote-left,
.fa .fa-quote-left {
    background: #007bff;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    cursor: pointer;
}

.footer {
    background: #333333;
    color: white;
    margin-top: 70px;

}

.footer ul li a {
    color: #606B71;
}

.footer ul li a:hover {
    color: #ffffff;
}

.footer .subscribe {
    padding: 7px 10px;
    border-radius: 5px;
    background-color: #606B71;
    box-shadow: 2px 2px 2px #212121, rgba(0, 0, 0, 0.3);
}

.footer h5 {
    padding-bottom: 4px;
}

.footer hr {
    border-bottom: 2px solid #606B71;
}

/*********media queries********/
@media only screen and (max-width:425px) {
    .blog-area {
        max-height: 100vh;
        overflow: hidden;
    }

}